flask
python-dotenv
huggingface_hub[hf_xet]
transformers==4.53.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
pandas==2.2.2
scikit-learn==1.6.1
requests==2.32.3
numpy==2.0.2
skops==0.11.0
joblib==1.5.1
