x-deploy-default: &deploy-default
  update_config:
    failure_action: rollback
    parallelism: 1
    delay: 10s
  rollback_config:
    parallelism: 1
    delay: 10s
  restart_policy:
    window: 360s
    delay: 30s
    # Max 24hours
    max_attempts: 240

x-default: &default
  networks:
    - mna_network

services:
  server:
    <<: *default
    image: ghcr.io/mission-apprentissage/mna_lab_server:{{app_version}}
    deploy:
      <<: *deploy-default
      resources:
        limits:
          memory: 10g
      replicas: 1
      placement:
        constraints:
          - node.labels.nvidia == true
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    stop_grace_period: 60s
    volumes:
      - /opt/app/data/server:/data
      - /opt/app/.env_server:/app/.env
    logging:
      driver: "fluentd"
      options:
        fluentd-address: localhost:24224
        tag: docker.json.lab.{{env_type}}.server
        fluentd-async: "true"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000"]
      interval: 30s
      timeout: 30s
      retries: 10
      start_period: 1m
